@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At the moment we do not use any analytics or advertising cookies. Only necessary ones are present. Unfortunately they can't be switched off as they are necessary for the website to work properly.</p>
