@{
    ViewData["Title"] = "Photography is Art";
}
<h1>@ViewData["Title"]</h1>
<p>You can capture a moment and also make it a piece of art to hang on a wall.</p>
<p>I am a photography artist and if you allow me, I will capture the most beautiful moments of your life for you and your family to remember.</p>
<p>Hello, my name is Povilas or you can also call me Paul. </p>
<p>...</p>
