/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Poiret+One&family=Quicksand:wght@300;400;600&display=swap');

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Quicksand', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
#homepage-carousel {
    max-width: 100%;
    width: 100%;
    max-height: 500px;
    overflow: hidden;
    
}
#homepage-carousel img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    vertical-align: middle;
}
#homepage-carousel h5 {
    font-family: 'Poiret One', cursive;
    font-size: 2em;
}

#homepage-carousel a {
    color: white;
}
#homepage-carousel a:hover {
    text-decoration: none;
}

.navbar-light .navbar-brand {
    font-family: 'Fredericka the Great', cursive;
    font-size: 2em;
}

main {
    margin-top: 90px;
}

footer {
    text-align: center;
}